body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

footer {
  background-image: url('assets/img/footer-back.jpg');
  background-size: cover;
  height: 40vh;
  margin-top: 5rem;
}

.item {
  width: inherit;
  height: inherit;
  background: white;
  transform-origin: 50% 100%;
}

.center-text-p {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 4.5rem;
  font-size: 34px;
  font-weight: 500;
}

.bold-subtitle {
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
}

.subtitle-text {
  font-size: .7rem;
}

.center-list-item {
  border-style: solid;
  border-width: 0 0 .01rem;
  height: 4rem;
}

.center-list-item:hover {
  transition: 0.6s;
  background-color: black;
}

.top-list-border {
  border-style: solid;
  border-width: .01rem 0;
}

.list-text {
  color: gray;
  text-align: end;
}

.list-text:hover {
  color: white;
  text-align: end;
}

.bullet {
  font-size: 1rem;
}

.list-div {
  width: 90vw;
  margin: auto;
  margin-top: 3rem;
}

.right-img {
  width: 316px;
  height: 212px;
  margin-left: auto;
  margin-right: 1rem;
  display: block;
}

.footer-subtitle {
  color: white;
}

.footer-title {
  color: white;
}

.footer-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  filter: grayscale(1);
}

.footer-input-button {
  height: 100%;
  background-color: transparent !important;
}

.footer-input {
  border-style: solid;
  border-color: white;
  border-width: 0rem 0.1rem 0.1rem;
}

.right-img-div {
  margin-bottom: 3rem;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
    background-size: cover;
  }

  50% {
    background-size: 150%;
    background-position: 100% 0;
    background-size: 110%;
    background-image: url("assets/img/01.jpg");
  }

  100% {
    background-position: 100% 0 50%;
    background-size: 210%;
    background-image: url("assets/img/03.jpg");
  }

}

.header-div {
  padding-top: 3rem;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 2s linear infinite alternate;
  background-image: url("assets/img/back.jpg");
  height: 100vh;
  position: relative;
}

.header-title {
  font-size: 8rem;
  margin: 0;
  text-align: center;
}

.header-influence {
  font-size: 5vw;
  margin: 0;
  margin-top: 40vh;
  font-weight: 10;
  text-align: center;
}

.header-to {
  font-size: 2vw;
  margin: 0;
  margin-top: 3vh;
  font-weight: 400;
  text-align: center;
}

.header-reputation {
  font-size: 8vw;
  margin: 0;
  letter-spacing: .2rem;
  margin-top: 3vh;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
}

.menu-button {
  background-color: transparent !important;
  box-shadow: none !important;
  position: fixed !important;
  height: 1rem;
  top: 0;
  right: 0;
  margin-top: 3rem !important;
  margin-right: 2rem !important;
}

.menu-button-icon {
  color: black;
}

.menu-screen {
  background-color: black;
  height: 100vh;
  margin-bottom: 2rem;
  overflow: hidden;
  margin: auto;
}

.menu-option {
  color: white;
  text-transform: uppercase;
  font-size: 5rem;
  text-align: center;
}

.menu-option-link:hover {
  transition: 0.6s;
  background-color: orange;
}

.menu-screen-bottom {
  position: fixed;
  bottom: 0;
}

.menu-screen-bottom-social {
  position: fixed;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nosotros-div {
  height: 130vh;
  background-color: black;
  overflow-y: hidden;
}

.nosotros-header {
  font-size: 5rem;
  color: orange;
  text-transform: uppercase;
  text-align: center;
}

.nosotros-img {
  width: 90%;
  margin: auto;
}

.footer-link {
  text-transform: uppercase;
  color: white;
  display: block;
  font-size: 1.2rem;
  text-align: center;
}

.footer-link:hover {
  text-transform: uppercase;
  color: orange;
}

.footer-social-icons {
  margin-left: 3rem;
}

.footer-social-icon {
  margin-bottom: 2rem;
  color: white;
}

.footer-logos {
  width: 5rem;
}

.numeralia-text {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.numeralia-num {
  font-size: 4rem;
  margin-bottom: 0;
  font-weight: 900;
}

.center-carousel {
  height: 5rem;
}

.center-subtext {
  margin-top: 20rem;
}

.carousel .carousel-status {
  display: none !important;
}

.center-video {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100vw;
  height: 100%;
}

.center-video-2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100vw;
  height: 100%;
}

.clientes-subtitle {
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-weight: 600;
}

.clientes-num {
  margin-left: 3rem;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 10vw;
  display: block;
  font-weight: 600;
}

.clientes-text {
  margin-left: 3rem;
  text-transform: uppercase;
  font-size: 3rem;
  display: block;
  font-weight: 600;
}

.img-num-anim {
  animation: animatedNumImg 12s infinite;
  max-height: 30vh;
  min-height: 20vh;
  max-width: 20vw;
}

.number-anim{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}
.text-anim{
  text-align: center;
  text-transform: capitalize;
  font-size: 2vw;
}

.number-anim::before{
  animation: animatedNumInt 3s infinite;
  content: "Geeks";
}

.text-anim::before {
  content: "Geeks";
  animation: animatedNumText 3s infinite;

}

@keyframes animatedNumText {
  0% {
    content: "portadas en medios";
  }

  30% {
    content: "eventos estrágicos";
  }

  70% {
    content: "roi anual para nuestros clientes";
  }

  100% {
    content: "seguidores en redes";
  }
}

@keyframes animatedNumInt {
  0% {
    content: "190";
  }

  30% {
    content: "195";
  }

  70% {
    content: "+450M";
  }

  100% {
    content: "+400k";
  }
}

@keyframes animatedNumImg {
  0% {
    content: url('assets/img/LH_2_0031.JPG');
  }

  10% {
    content: url('assets/img/LH_2_0103.JPG');
  }

  20% {
    content: url('assets/img/LH_2_0224.JPG');
  }

  30% {
    content: url('assets/img/LH_2_0264.JPG');

  }

  40% {
    content: url('assets/img/Extrategia_Web_Portada_01.jpg');
  }

  50% {
    content: url('assets/img/Extrategia_Web_Portada_02.jpg');
  }

  60% {
    content: url('assets/img/Extrategia_Web_Portada_03.jpg');
  }

  70% {
    content: url('assets/img/Extrategia_Web_Portada_04.jpg');

  }

  80% {
    content: url('assets/img/Archivo_000.jpeg');
  }

  90% {
    content: url('assets/img/Archivo_001.jpeg');
  }

  100% {
    content: url('assets/img/Archivo_002.jpeg');
  }

}
.div-column-anim{

}